.relogio {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 42px;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 8px 7px;
    padding: 4px 24px;
    margin: 80px auto 55px auto;
}

.clockHours::after, .clockMinutes::after {
    content: ':';
    margin-left: 4px;
}